#work,
header {
    height: 95vh;
}

.small-6 {
    padding: 2%;
}


/*HEADER SECTION THE LANDING PAGE*/

html {
    font-family: Helvetica, Arial, sans-serif;
    margin: 3em;
    text-align: center;
    color: #111;
}

h1 {
    text-transform: uppercase;
    letter-spacing: .3em;
}


/* NAV */

nav {
    text-align: center;
    clear: both;
}

nav ul li a {
    color: #111;
    text-decoration: none;
    transition: 2s all;
    border-bottom: 1px solid;
    padding-bottom: .3em;
}

nav ul li a:hover {
    padding-bottom: 2em;
    color: #001F3F;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0 .5em;
}


/*END OF THE HEADER SECTION THE LANDING PAGE*/


/*PORTFOLIO SECTION*/


/**** WORK ****/

.project {
    margin-bottom: 2em;
}

.img-hover img {
    -webkit-transition: all 1s ease;
    /* Safari and Chrome */
    -moz-transition: all 1s ease;
    /* Firefox */
    -o-transition: all 1s ease;
    /* IE 9 */
    -ms-transition: all 1s ease;
    /* Opera */
    transition: all 1s ease;
}

.img-hover:hover img {
    opacity: 0.25;
    -webkit-transition: opacity transform 0.45s;
    transition: opacity transform 0.45s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: scale(1.1);
    /* Safari and Chrome */
    -moz-transform: scale(1.1);
    /* Firefox */
    -ms-transform: scale(1.1);
    /* IE 9 */
    -o-transform: scale(1.1);
    /* Opera */
    transform: scale(1.1);
}

.img-hover .caption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px;
    width: 100%;
    height: 100%;
    color: #222222;
    text-transform: none;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.img-hover .caption h4 {
    text-align: center;
}

.img-hover .caption:hover {
    opacity: 1.0;
    -webkit-transition: opacity 0.45s;
    transition: opacity 0.45s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


/*END OF PORTFOLIO SECTION*/


/*CONTACT SECTION*/

#contact-form {
    margin: 20px;
}

#contact-form .text-input {
    /*    border: #222222 1px solid;*/
    padding: 15px;
    margin: 10px;
    text-align: left;
    width: 100%;
    height: 80px;
}

#contact-form .text-message {
    /*    border: #222222 1px solid;*/
    padding: 15px;
    margin: 10px;
    text-align: left;
    width: 100%;
    height: 160px;
}

#contact-form .required {
    color: red;
}

#contact-form #req-field-desc {
    font-size: 14px;
    text-align: left;
}

#contact-form label {
    margin: 0;
    text-transform: uppercase;
    font-size: 12px;
}

#contact-form input {
    border: none;
    width: 100%;
    height: 30px;
}

#contact-form select {
    border: #ececec 1px solid;
    width: 100%;
}

#contact-form textarea {
    border: none;
    width: 100%;
    height: 100px;
    resize: none;
}

#contact-form #submit-button {
    width: 100%;
    text-transform: uppercase;
    font-size: 18px;
}

footer {
    background-color: #F7F8FA;
    padding: 20px 0;
}

footer p {
    font-size: 12px;
}

footer .fa {
    border: #ececec 1px solid;
    padding: 10px;
    margin: 10px 5px;
    font-size: 20px;
}

footer .fa:hover {
    background: #fff;
}

footer .fa-linkedin {
    color: #0077b5;
}

footer .fa-dribbble {
    color: #ea4c89;
}

footer .fa-codepen {
    color: #000;
}


/*END OF CONTACT FORM*/


/*TERMINAL EFFECT*/


/*the code for the size of the terminal effect*/

.terminal {
    background: transparent;
    position: absolute;
    /*    left: 50%;*/
    /*    top: 50%;*/
    /*    margin-top: -50px;*/
    /*    margin-left: -125px;*/
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.4);
    width: 100%;
    /*    font: inherit;*/
    border: none;
    outline: none;
    color: #52a563;
}


/*
.dollar:before {
    content: '$';
    color: #52a563;
}
*/

.home {
    color: #e28d47;
    padding-bottom: 3px;
}

a {
    font: 12px "Monaco", Inconsolata, monospace;
    text-decoration: underline;
    color: #f8f8f8;
}


/*END OF TERMINAL EFFECT*/