{% extends "base.html" %}
{% load staticfiles %}
{% block head %}

    <link rel="stylesheet" href="{% static 'css/site.css' %}"/>
{% endblock %}
{% block content %}

<nav class="ck-vertical-nav text-right">
        <a class="ck-nav-trigger">Menu</a>
        <div class="ck-nav-wrapper">
            <ul>
                <li><a href="#home" class="active"><span class="label">Home</span></a></li>
                <li><a href="#about"><span class="label">About Me</span></a></li>
                <li><a href="#folio"><span class="label">My Works</span></a></li>
                <li><a href="#contact"><span class="label">Contact Me</span></a></li>
            </ul>
        </div>
    </nav>
    <section class="row ck-section" id="home">
        <!-- <img src="img/Drawing%20(3).png" class="column small-12"> -->
    </section>
    <hr>
    <section class="row ck-section" id="about">
        <div>
            <h2>About me</h2>
            <p>Hello,
                <br>I live in Nairobi and currently do front end development of websites.</p>
            <p>I believe simplicity is awesome.</p>
            <p>If you feel the same way feel free to click<a href="#contact"> here </a> to get in touch.</p>
        </div>
    </section>
    <hr>
    <section class="row ck-section text-center" id="folio">
    <h2 id="work">Folio</h2>
    <section class="small-up-1 medium-up-2 large-up-3">
    {% for img in images %}
    <section class="columns">
    <img src="{{ img.image.url }}" class="dbimgs" style="width:80%;">
    <h3><a href="">{{ img.title }}</a></h3>
    <p>{{ img.content }}</p>

    </section>
    {% endfor %}
    </section>
    </section>
    <hr>
    <section class="row ck-section" id="contact">
        <h2>Contact Me Using:</h2>
        <form method="post" class="clearfix">
            <input type="text" placeholder="Name..." required id="left" class="clear">
            <input type="text" placeholder="Email..." required id="right" class="clear">
            <textarea placeholder="Your Message here" required class="clear" id="message"></textarea>
            <input type="submit" value="submit" id="submit">
        </form>
    </section>
    
    <script src="{% static 'js/firebase.js' %}"></script>
    <script src="{% static 'js/js/jquery-2.1.4.js' %}"></script>
    <script src="{% static 'js/js/main.js' %}"></script>    
    <script src="{% static 'js/js/smoothscroll.js' %}"></script>
    <!-- // <script src="{% static 'js/vendor/jquery.min.js' %}"></script> -->
    <script src="{% static 'js/vendor/what-input.min.js' %}"></script>
    <script src="{% static 'js/foundation.min.js' %}"></script>
{% endblock %}